/*
 * Globals
 */
@import url('https://fonts.googleapis.com/css?family=Anton');
body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */
 .mySlides{
  transition: all 2s;
 ;
 }
 .w3-content .w3-display-container{

 }
.blog-masthead{
    /*position: fixed;*/
    width: 100%;
    -webkit-transition:  2s; /* Safari */
    transition: 2s;
    z-index: 10000;
}
.header-slider{
  width: 100vw;
  
}
/*.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}*/
.scrolled{
    background: rgba(0,0,0,0.5)!important;
    color: #fff;
     -webkit-transition:  2s; /* Safari */
    transition: 2s;
}
.scrolled1{
    color:#fff!important;
}
/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 88px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/*
  Header Nav

*/
.blog-nav li:hover{
  background-color: orange;
}
.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    font-size: 26px;
    transition: 1s all;
    font-family: Arial, Helvetica, sans-serif;
    
    text-transform: uppercase;
}
.blog-nav li a {
    color: #fff;
}
.header-image
{
  height: 100%;
  width: 100%;
  background-size: cover;
}
nav.blog-nav {
    padding-left: 5%;
    padding-right: 5%;
}
/*.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
}*/

.current_page_item:after,.current_page_parent:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
.sectionNewItems, .sectionBestsellerItems, .blog-section{
      display: inline-block;
      width: 100%;
      padding: 20px 0px 20px 0px;
}
.
.sectionStyle{

 width: 100%;
 text-align: center;
}
.newItem{
  position: relative;
  min-height: 216px!important;
  display: flex;
      margin-bottom: 25px;
      margin-top: 25px;
}
.linkJigo{
  display: block;
  background: green;
  color: white;
  margin-top: 10px;
}
.sectionTitle{
  
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  position: relative;
}
.centerAlign{
  text-align: center;
  
}
.blogContainer{
  
  padding: 5px;
}
.centerAlign.shopItem {
    flex: 1;
    position: relative;
}
.bottomAlign {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.small-top-right-img,.small-bot-right-img{
      margin-bottom: 20px;
}
.js-inner-box{
  box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.js-text{
        position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
    pointer-events: none;
    transform: translate(0px, -50%);
    background: rgba(0,0,0,0.5);
    width: 80%;
    color: #fff;
    margin: 0 auto;
}
.full-div-js img{
  width: 100%;
}
.border-item{
  width: 100%;
}
.big-screen{
  margin-bottom: 30px;
}
.inner-box{
  position: relative;
}
.js-row-container{
      display: block;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}
.js-header-container{
      float: left;
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.js-column-container{
    padding-left: 0;
    padding-right: 0;
}
.js-right{
  text-align: right;
}
.js-row:after, .js-row:before {
    content: "";
    display: table;
}
.js-top-bar{
  color: rgb(85, 85, 85);
    font-size: 12px;
    position: relative;
    z-index: 11111;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(229, 229, 229);
}
.js-ow .js-row-container::after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
    line-height: 0;
    visibility: hidden;
}
.js-column-container>.js-column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.js-header-container .js-row {
    margin-left: 0px;
    margin-right: 0px;
}
.js-header-container .js-top-bar::after {
    content: "";
    display: table;
    clear: both;
}
.js-header-container .js-inner-header {
    position: relative;
    z-index: 999;
}
.js-bottom-header{
  background-color: green !important;
}
.js-header-container .js-bottom-header {
    float: left;
    width: 100%;
}
.js-main-container {
    float: left;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
footer {
    margin-top: 50px;
    color: rgb(85, 85, 85);
    float: left;
    font-size: 14px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.js-main-container .js-our-service.js-layout-2 .js-box .box-inner .js-text-box h4 {
    color: darkgreen;
    line-height: 1;
    margin: 0px;
}

.js-main-container .js-our-service .js-box .js-box-inner .js-text-box h4 {
    color: darkgreen;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.js-main-container .js-our-service.js-layout-2 .js-box .js-box-inner {
    text-align: left;
    padding: 15px 0px 15px 50px;
}

.js-main-container .js-our-service .js-box .js-box-inner {
    position: relative;
    text-align: center;
    margin: 0px;
    transition: all 0.4s ease-out;
}
.js-main-container .js-our-service.js-layout-2 {
    padding: 30px 0px;
    margin: 0px;
}

.js-main-container .js-our-service {
    padding: 60px 0px 145px;
}
.js-box-top{
      margin-bottom: 0px !important;
    background-color: #ededed !important;
}
.js-main-container .js-home-2-static .js-box .inner-box:hover::before {
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    border-color: rgba(255, 255, 255, 0.8);
}

.js-main-container .js-home-2-static .js-box .inner-box::before {
    position: absolute;
    content: "";
    display: block;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    transition: all 0.4s ease-out;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}
.js-main-container .js-home-2-static .js-box.js-box-2 .inner-box .js-text h2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}
.js-main-container .js-home-2-static .js-box.js-box-2 .inner-box .js-text p {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.js-main-container .js-home-2-static .js-box .inner-box p {
    margin: 0px;
}
.js-main-container .js-home-2-static .js-box.js-box-1 .inner-box .js-text h5 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
}
.js-main-container .js-home-2-static .js-box.js-box-1 .inner-box .js-text h2 {
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
}
.js-main-container .js-home-2-static .js-box.js-box-1 .inner-box .js-text h4 {
    font-size: 34px;
    text-transform: uppercase;
    color: rgb(248, 46, 86);
    line-height: 1;
}
.js-column-container {
    padding-left: 0!important;
    padding-right: 0!important;
}
.js-main-container .js-home-2-static .js-box.js-box-2 {
    margin: 0;
}
.js-clearfix:after, .js-column-inner::after, .js-el-clearfix, .js-row:after {
    clear: both;
}


.js-main-container .js-home-tabs .js-title-container, .js-main-container .js-home-tabs-2 .js-title-container {
    padding: 0 15px;
    margin: 0 auto 25px;
    min-height: 34px;
    text-align: left;
    position: relative;
    max-width: 1200px;
}
.js-main-container .js-home-tabs .js-home-tabs-title, .js-main-container .js-home-tabs-2 .js-home-tabs-title {
    border-bottom: 2px solid darkgreen;
    height: auto;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.js-main-container .js-home-tabs .js-home-tabs-title li, .js-main-container .js-home-tabs-2 .js-home-tabs-title li {
    display: inline-block;
    list-style: none;
    line-height: 25px;
}
.js-main-container .js-home-tabs .js-home-tabs-title li a:hover, .js-main-container .js-home-tabs .js-home-tabs-title li a.active, .js-main-container .js-home-tabs-2 .js-home-tabs-title li a:hover, .js-main-container .js-home-tabs2 .js-home-tabs-title li a.active {
    background: darkgreen;
    color: #fff;
}
.js-main-container .js-home-tabs .js-home-tabs-title li a, .js-main-container .js-home-tabs-2 .js-home-tabs-title li a {
    color: #555;
    display: block;
    font-size: 20px;
    padding: 0 34px;
    font-weight: 600;
    line-height: 51px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}
.js-home-tabs{
  padding-top: 60px!important;
}
.js-text-box{
     padding-left: 10px;
}

 .icon-box {
       width: auto;
    height: auto;
    background: none;
    color: darkgreen;
    position: absolute;
    left: -5px;
    top: 27px;
    line-height: 1;
    margin: 0;
    font-size: 3em;
}
a:hover{
  text-decoration: none!important;
}
.js-main-container .js-our-service.js-layout-2 .js-box:not(:last-child) .js-box-inner {
    border-right: 1px solid #e5e5e5;
}


.js-main-container .deal-of-day {
    padding: 60px 0;
}
 .js-title1 {
    border-bottom: 2px solid darkgreen;
    margin: 0 0 25px;
    text-align: left;
}
 .js-content-element .js-wrapper > h3 {
    margin: 0 auto;
}
 .js-title1 h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: darkgreen;
    line-height: 51px;
    padding: 0 20px;
    position: relative;
    margin: 0;
}
.js-main-container .js-home-2-static-2 .js-box-text .js-view {
    display: inline-block;
    background: #f82e56;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 20px 12px;
    line-height: 1;
}
.js-main-container .js-home-2-static-2 .js-box-text h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbafa9;
    line-height: 1;
    margin: 20px 0;
}
.js-main-container .js-home-2-static-2 .js-box-text .js-price {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}
.js-main-container .js-home-2-static-2 .js-box-text .js-price strong {
    font-size: 50px;
    font-weight: 400;
    color: #f82e56;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}
.js-main-container .js-home-2-static-2 .js-box-text h1 strong {
    color: #292560;
}
.js-main-container .js-home-2-static-2 .js-box-text {
    margin: 60px 0 0;
}
.js-single-image .js-single-image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
.js-single-image img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.js-single-image .js-figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}
.js-single_image.js-align-left {
    text-align: left;
}
.js-main-container .js-home-2-static-2 {
    padding: 50px 0;
}
.js-row.js-inner.js-row-fluid.js-silder-static {
    padding-top: 60px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#menu-main{
  margin-bottom: 0px;

}
.ui.container{
  width: 1200px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: white;
}

/*.active {
  background-color: #4CAF50;
  color: white;
}*/

.topnav .icon {
  display: none;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 7px;
}
.js-mobile-menu{
  display: none;
}
.topnav a{
  color: white;
}
.blog-masthead {
    /* position: fixed; */
    width: 100%;
    -webkit-transition: 2s;
    transition: 2s;
    float: left;
    z-index: 10000;
    position: relative;
}

@media screen and (max-width: 1200px){
  .ui.container{
    width: 100%;
  }
  .js-main-container .js-home-2-static-2 .js-box-text h1 {
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbafa9;
    line-height: 1;
    margin: 20px 0;
}
}

@media screen and (max-width: 992px){
  .menu{
    margin:0px;
  }
.js-mobile-menu{
  display: block;
}
.blog-nav{
  display: none;
}
.js-main-container .js-home-2-static-2 .js-box-text h1 {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbafa9;
    line-height: 1;
    margin: 20px 0;
}
  .topnav li.current-menu-item {
    display: block;
  }
  .topnav li {display: none;}
 
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
 .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 599px){
  .js-main-container .js-home-2-static-2 .js-box-text h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbafa9;
    line-height: 1;
    margin: 20px 0;

}}