/*
Theme Name: Jigoshop Pro
Author: Rafał 'Riniks' Kamiński
Description: Themple designed for Jigo ltd. Plugins
Version: 0.0.1
Tags: bootstrap, Jigoshop eCommerce, Jigo ltd.
*/
@import url('https://fonts.googleapis.com/css?family=Anton');
header{
	/*position: fixed;*/
	width: 100%;
	
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.scrolled{
    background: rgba(0,0,0,0.5);
    color: #fff;
     -webkit-transition:  2s; /* Safari */
    transition: 2s;
}
.scrolled1{
    color:#fff!important;
}
.well.well-sm{
    display: none;
}
.tabcontent{
    display: none;
    padding: 6px 12px;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.text-solid{
    font-weight: 700;
   
}
.line-holder{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    width: 100%;
}
/*.ali-left{
    float: left;
    display: inline-block;
}
.ali-right{
    float: right;
    display: inline-block;
}*/


                /*SLIDER*/
.jigo-slideshow-container {
 
  position: relative;
  margin: auto;
}
                /* Hide the images by default */
.jigoSlide {
    display: none;
}
.jigoSlide img{
    width: 100%;
}
/* Next & previous buttons */
.prevSlide, .nextSlide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.nextSlide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevSlide:hover, .nextSlide:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  background: rgba(0,0,0,0.5);
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fadeout{
     -webkit-animation-name: fadeout;
  -webkit-animation-duration: 2.5s;
  animation-name: fadeout;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
@-webkit-keyframes fadeout {
  from {opacity: 1} 
  to {opacity: 0.4}
}

@keyframes fadeout {
  from {opacity: 1} 
  to {opacity: 0.4}
}